<nav class="navbar">

  
  <!-- Navigation Links -->
  <ul class="nav-links">
    <li><a href="#Home">Home</a></li>
    <li><a href="#Transactions">Transactions</a></li>
    <li><a href="#Progress">Progress</a></li>
    <li><a href="#Saving">Saving</a></li>
  </ul>

  <!-- Search on the Right -->
  <form class="d-flex search-form" role="search">
    <input
      class="form-control"
      type="search"
      placeholder="Search"
      aria-label="Search"
    />

    <button class="btn search-button" type="submit">
      Search
    </button>
  </form>

</nav>